.footer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 20px;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}
.footer_inn{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.logo_section_social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 70px;
}
.first{
    color: white;
    transition: all 0.2s ease-in-out;
}
.first:hover{
    color: rgb(59, 167, 255);
    cursor: pointer;
}
.footer_title{
    text-align: center;
    font-family: "Philosopher", sans-serif;
    color: rgb(144, 247, 144);
    font-weight: 400;
    font-size: 55px;
    margin-top: 100px;
}
.footer_desc{
    text-align: center;
    color: white;
}

.footer_links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style: none;
    color: white;
    margin-top: 70px;
}

.footer_end{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffff;
    padding: 20px;
    background-color: transparent;
}
.linktext {
    font-size: 15px;
}

@media screen and (max-width: 426px) {
    .footer{
        width: 90% !important;
        margin-bottom: 100px;
    }
    .footer_links{
        flex-direction: column;
        gap: 10px;
        display: none;
    }

    .footer_loca{
        width: 100% !important;
        display: block !important;
        color: white !important;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .logo_section_social{
        margin-top: 40px;
    }
}