.skill_main {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 50px;
  margin: auto;
  margin-top: 110px;
}
.skill_name{
  color: #87A4B6;
  font-size: 20px;
  font-weight: 600;
  font-size: 60px;
}

.skill_box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
  margin: auto;
}
.box_one{
  width: 120px;
  height: 120px;
  padding: 30px;
  border: 2px solid rgb(0, 123, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #001b2c;
  position: relative;
  transition: all 0.4s ease-in-out;
  border-radius: 20px;
}

.box_one:hover{
  transform: scale(1.1);
  filter: drop-shadow(0 0 15px rgb(135, 164, 182));
  background-color: rgba(135, 164, 182, 0.1);
  cursor: pointer;
}

.box_one:hover img{
  transform: scale(1.3);
}

.skill_icons{
  transition: all 0.3s ease-in-out;
  width: 80px;
  height: 80px;
  object-fit: contain;
}

@media screen and (max-width: 425px) {
  .box_one{
    width: 95%;
    height: 250px;
  }
}