.uses_main_container {
  width: 90%; 
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 50px;
  /* padding: 0 10px; */
  display: flex;
  flex-direction: column;
}
.laptop_image {
  width: 100%; 
  max-width: 780px; 
  height: auto; 
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  justify-content: center;
}

.laptopName {
  color: white;
  display: flex;
  justify-content: start;
  margin-top: 60px;
  margin-bottom: 20px;
}
.spesContainer {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}
.specBox {
  width: 20%;
  background-color: rgb(17, 17, 63);
  padding: 20px;
  border-radius: 20px;
  color: white;
  background: rgba(124, 121, 121, 0.077);
    transition: 0.2s all ease-in-out;
    border: 2px solid rgb(7, 52, 104);
}
.specBox:hover{
  transform: translateY(-7px);
}
.tools_main_container{
  width: 100%;
  display: flex;
  gap: 10px;
  /* flex-wrap: wrap; */
  justify-content: center;
  margin-bottom: 10px;
}
.tool_one{
  width: 25%;
  padding: 10px 15px ;
    border: 2px solid rgb(7, 52, 104);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    background: rgba(124, 121, 121, 0.077);
}
.tools_images{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.toolInnerText {
  display: flex;
  flex-direction: column;
}
.textTopTool{
  color: white;
}



@media (max-width: 768px) {
  .uses_main_container {
    margin-top: 30px;
  }

  .laptop_image {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .uses_main_container {
    width: 95%;
    margin-top: 20px;
  }
  .laptop_image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  .spesContainer {
    flex-direction: column;
  }
  .specBox {
    width: 100%;
  }
  .tools_main_container{
    flex-direction: column;
  }
  .tool_one{
    width: 100%;
    justify-content: flex-start;
  }
}
